/* Custom properties */
:root {
    --color-fondo: rgb(255, 255, 255);
    --color-fuente: rgb(0, 0, 0);
    --color-primario: #3B82F6;
    --color-secundario: #E14444;
    --border: solid 1px rgba(212, 212, 212, 0.8);
}

/* Estilos generales del documento */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}


/* Estilos general del wrapper que envuelve la página */

.wrapper, .wrapper--main {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
}

/* Estilos generales del header */

header {
    color: var(--color-fuente);
    padding: 15px;
    min-height: 50px;
    text-align: left;
    border-bottom: var(--border);
}

.header__logotipo a {
    color: var(--color-fuente);
    font-size: 1.3rem;
    font-weight: 700;
}

/* Estilo de las secciones principales */
main {
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    font-size: 1rem;
    color: var(--color-fuente);
    line-height: 1.3;
    max-width: 100%;
    margin-bottom: 20px;
}

.sku {
    font-size: 0.8rem;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
}

.products__container {
    width: 65%;
}

.products__table--head {
    border-bottom: var(--border);
}

.table__col--cantidad {
    display: flex;
}

.cantidad__caja {
    border: var(--border);
    border-radius: 5px;
    padding: 15px;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 15px;
}

.products__total {
    background-color: rgba(235, 235, 235, 0.8);
    width: 20%;
    max-height: 250px;
}

.products__total .table__row {
    border-bottom: var(--border);
}